.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	min-width: 150px;
	max-width: 150px;
	height: 100vh;
	transition: all 0.3s;
}

#content {
	overflow-y: scroll;
	height: 100vh;
}

#sidebar.active {
	margin-left: -150px;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #b6b6b6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}

#sidebarCollapse,
#sidebarCollapse:active,
#sidebarCollapse:focus {
	border: none;
	outline: none;
}

#sidebarCollapse .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

#sidebarCollapse .middle-bar {
	opacity: 0;
}

#sidebarCollapse .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

#sidebarCollapse.collapsed .top-bar {
	transform: rotate(0);
}

#sidebarCollapse.collapsed .middle-bar {
	opacity: 1;
}

#sidebarCollapse.collapsed .bottom-bar {
	transform: rotate(0);
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -150px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse.collapsed .top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}

	#sidebarCollapse.collapsed .middle-bar {
		opacity: 0;
	}

	#sidebarCollapse.collapsed .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}

	#sidebarCollapse .top-bar {
		transform: rotate(0);
	}

	#sidebarCollapse .middle-bar {
		opacity: 1;
	}

	#sidebarCollapse .bottom-bar {
		transform: rotate(0);
	}
}




/*********************     Event - Calendar             ****************************/

.fc-toolbar-chunk button{
color: #fff !important;
	background-color: #884592 !important;
	border-color: #884592 !important;
	padding: 0.8rem 1.2rem;
	border-radius: 1rem !important;
}

.fc-toolbar-chunk button:hover{
	color: #fff;
	background-color: #703978;
	border-color: #68356f;
	}


	.fc-toolbar-chunk button:focus, .fc-toolbar-chunk button.focus {
	color: #fff;
	outline: none;
	background-color: #703978;
	border-color: #68356f;
	box-shadow: 0 0 0 0.2rem rgba(154, 97, 162, 0.5);
	
  }
 


  #events .event-row {
	overflow: auto;
	white-space:nowrap;
	width: 500px;
  }


  /********************     Spinner               ****************************/

.hJtphO > div:nth-child(1),
.hJtphO > div:nth-child(2),
.hJtphO > div:nth-child(3),
.hJtphO > div:nth-child(4),
.hJtphO > div:nth-child(5),
.hJtphO > div:nth-child(6),
.hJtphO > div:nth-child(7),
.hJtphO > div:nth-child(8)
 {
  color: var(--primary-color) !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.hJtphO {
  width: 4rem !important;
  height: 4rem !important;
}

